@charset "UTF-8";
/*			Обнуление			*/
@import url("satoshi.css");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

:root {
  --bg-color:#151A25;
  --accent-color:#D6377F;
}

body {
  font-family: "Satoshi-Variable";
  color: #FFFFFF;
  background: var(--bg-color);
  overflow: auto;
}

.noScroll {
  overflow: hidden;
}

.header {
  padding: clamp(0.75rem, 0.574rem + 0.88vw, 1.313rem) 0;
}
.header__container {
  margin: 0 auto;
  max-width: 1340px;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1600px) {
  .header__container {
    max-width: 1200px;
  }
}
@media (max-width: 1400px) {
  .header__container {
    max-width: 1150px;
  }
}
.header__logo {
  display: flex;
  align-items: center;
}
.header__logo img {
  margin-right: 12px;
}
@media (max-width: 500px) {
  .header__logo img {
    margin-right: 8px;
    width: 50px;
  }
}
.header__logo span {
  font-style: normal;
  font-weight: 500;
  font-size: clamp(1.125rem, 1.007rem + 0.59vw, 1.5rem);
  line-height: 32px;
  color: #FFFFFF;
}
.header__logo span:first-child {
  font-family: "Satoshi-Regular";
}
.header__logo span:last-child {
  padding-left: 5px;
  font-family: "Satoshi-Bold";
}
.header__navigation {
  display: flex;
  align-items: center;
  -moz-column-gap: 24px;
       column-gap: 24px;
}
.header__burger {
  display: none;
  width: 40px;
  height: 35px;
  position: relative;
  transition: 0.3s;
}
@media (max-width: 700px) {
  .header__burger {
    width: 35px;
    height: 30px;
  }
}
.header__burger::before {
  transition: 0.3s;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 13%;
  background: white;
}
.header__burger span {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  display: block;
  width: 100%;
  height: 13%;
  background: white;
}
.header__burger::after {
  transition: 0.3s;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 13%;
  background: white;
}
.header__burger.active {
  transition: 0.3s;
  z-index: 10;
}
.header__burger.active::before {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}
.header__burger.active span {
  visibility: hidden;
}
.header__burger.active::after {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}
.header__menu {
  display: flex;
}
.header__menu li a {
  font-family: "Satoshi-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
}
.header__menu li + li {
  margin-left: 24px;
}
.header__button {
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
  padding: clamp(0.625rem, 0.429rem + 0.98vw, 1.25rem) clamp(0.625rem, 0.429rem + 0.98vw, 1.25rem);
  border-radius: 5px;
  background: var(--accent-color);
}
.header__button:last-child {
  font-family: "Satoshi-Bold";
  font-style: normal;
  font-weight: 700;
  font-size: clamp(0.75rem, 0.672rem + 0.39vw, 1rem);
  line-height: 22px;
  letter-spacing: 0.01em;
  color: #FFFFFF;
}

@media (max-width: 1150px) {
  .header__navigation {
    flex-direction: row-reverse;
    -moz-column-gap: 12px;
         column-gap: 12px;
  }
  .header__burger {
    display: block;
  }
  .header__menu {
    transition: 0.3s ease;
    visibility: hidden;
    opacity: 0;
    right: -50%;
    position: fixed;
    flex-direction: column;
    top: 0;
    background: rgba(0, 0, 0, 0.782);
    height: 100%;
    width: 400px;
    padding-top: 60px;
  }
  .header__menu li {
    text-align: center;
  }
  .header__menu li a {
    display: block;
    padding: 15px 70px;
  }
  .header__menu li + li {
    margin-left: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.46);
  }
  .header__menu.open {
    z-index: 9;
    visibility: visible;
    opacity: 1;
    right: 0;
  }
}
@media (max-width: 700px) {
  .header__logo div {
    display: flex;
    flex-wrap: wrap;
  }
  .header__logo div span {
    line-height: 20px;
  }
  .header__menu {
    width: 70%;
  }
}
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 94vh;
}
.hero__container {
  margin: 0 auto;
  max-width: 1340px;
  padding: 0 20px;
  text-align: center;
  position: relative;
}
.hero__circle-2 {
  position: absolute;
  top: 50%;
  left: -25%;
  opacity: 0;
  transform: translate(0, -50%);
  margin-left: 20px;
  transition: 0.5s;
}
.hero__circle-2._anim-active {
  opacity: 1;
  left: 0;
}
.hero__circle05 {
  position: absolute;
  top: 50%;
  right: -25%;
  transform: translate(0, -50%);
  margin-left: 20px;
  margin-bottom: 30px;
  opacity: 0;
  transition: 0.5s;
}
.hero__circle05._anim-active {
  opacity: 1;
  right: 0;
}
.hero__body {
  text-align: center;
  display: flex;
  flex-direction: column;
  row-gap: clamp(1rem, 0.227rem + 3.86vw, 3.125rem);
  max-width: 916px;
  margin: 0 auto;
  opacity: 0;
  transition: 0.3s;
  transform: translate(0, 200px);
}
.hero__body._anim-active {
  opacity: 1;
  transform: translate(0, 0);
}
.hero__title {
  font-family: "Satoshi-Bold";
  background: linear-gradient(135deg, #5EFCE8 0%, #736EFE 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-style: normal;
  font-size: clamp(2.813rem, 1.903rem + 4.55vw, 5.313rem);
  line-height: clamp(2.813rem, 1.222rem + 7.95vw, 7.188rem);
  text-align: center;
  letter-spacing: -0.03em;
}
.hero__text {
  font-family: "Satoshi-Regular";
  font-size: clamp(0.938rem, 0.882rem + 0.28vw, 1.125rem);
  line-height: 24px;
  text-align: center;
  color: #A6A6A6;
}
.hero__data {
  font-family: "Satoshi-Medium";
  font-size: clamp(1.125rem, 1.014rem + 0.56vw, 1.5rem);
}
.hero__btm-text {
  font-size: clamp(0.938rem, 0.863rem + 0.37vw, 1.188rem);
}
.hero__arrow-down {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px dashed rgb(97, 232, 236);
  margin: clamp(2.5rem, 2.074rem + 2.13vw, 3.938rem) auto 0 auto;
  transition: 0.8s;
  opacity: 0;
  transform: translate(0, -20px);
}
.hero__arrow-down img {
  transition: 0.8s;
  opacity: 0;
}
.hero__arrow-down._anim-active {
  transform: translate(0, 0);
  opacity: 1;
}
.hero__arrow-down._anim-active img {
  opacity: 1;
}

.meet {
  background: url("../image/me.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.meet__container {
  max-width: 1126px;
  margin: 0 auto;
  padding: clamp(3.125rem, 1.644rem + 7.41vw, 8.125rem) 10px 35px 10px;
}
.meet__body {
  max-width: 916px;
}
.meet__title {
  font-size: clamp(2.188rem, 1.632rem + 2.78vw, 4.063rem);
  font-family: "Satoshi-Bold";
  line-height: clamp(2.75rem, 1.935rem + 4.07vw, 5.5rem);
  color: #FFFFFF;
  opacity: 0;
  transition: 0.8s;
}
.meet__title._anim-active {
  opacity: 1;
}
.meet__blocks {
  margin-top: clamp(2.5rem, 1.759rem + 3.7vw, 5rem);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 16px;
  transform: translate(0, 100px);
  opacity: 0;
  transition: 0.5s;
}
.meet__blocks._anim-active {
  transform: translate(0, 0);
  opacity: 1;
}
.meet__block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #151A25;
  opacity: 0.8;
  padding: clamp(1.875rem, 1.505rem + 1.85vw, 3.125rem) 0;
}
.meet__info {
  margin-top: 10px;
  font-size: clamp(1.25rem, 1.176rem + 0.37vw, 1.5rem);
  line-height: 32px;
  color: #FFFFFF;
}

@media (max-width: 700px) {
  .meet {
    background-size: cover;
  }
}
@media (max-width: 500px) {
  .meet__blocks {
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 15px;
  }
}
.about {
  overflow: hidden;
}
.about__container {
  max-width: 1392px;
  margin: clamp(3.125rem, 1.718rem + 7.04vw, 7.875rem) auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  grid-column-gap: 15px;
}
.about__circles {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -99;
}
.about__waves {
  position: absolute;
  top: 0;
  right: 20px;
  z-index: -99;
}
.about__info {
  transform: translate(-80%, 0);
  max-width: 650px;
  opacity: 0;
  transition: 0.3s;
}
.about__info._anim-active {
  opacity: 1;
  transform: translate(0, 0);
}
.about__title {
  font-family: "Satoshi-Bold";
  line-height: clamp(3.125rem, 2.903rem + 1.11vw, 3.875rem);
  font-size: clamp(2.5rem, 2.037rem + 2.31vw, 4.063rem);
}
.about__text {
  margin-top: clamp(0.5rem, 0.278rem + 1.11vw, 1.25rem);
  font-size: clamp(0.875rem, 0.819rem + 0.28vw, 1.063rem);
  line-height: 22px;
  color: #FFFFFF;
}
.about__how {
  display: flex;
  margin: clamp(1.875rem, 1.542rem + 1.67vw, 3rem) 0;
  -moz-column-gap: clamp(0.938rem, 0.549rem + 1.94vw, 2.25rem);
       column-gap: clamp(0.938rem, 0.549rem + 1.94vw, 2.25rem);
}
.about__when {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about__how-logo {
  min-width: 60px;
  min-height: 60px;
  border-radius: 50%;
  background: rgba(214, 55, 127, 0.568627451);
  display: flex;
  align-items: center;
  justify-content: center;
}
.about__how-body {
  margin-left: 5px;
}
.about__how-text {
  margin-top: 7px;
  font-family: "Satoshi-Light";
  line-height: 22px;
}
.about__location {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about__buttons {
  display: inline-flex;
  -moz-column-gap: 24px;
       column-gap: 24px;
}
.about__button:first-child {
  border-radius: 5px;
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
  background: var(--accent-color);
  padding: 10px 20px;
}
.about__button:first-child div {
  color: white;
}
.about__button:last-child {
  border-radius: 5px;
  padding: 10px 20px;
  border: 1px solid white;
  background: var(--bg-color);
  color: white;
}
.about__images {
  display: flex;
  grid-column-gap: 24px;
  position: relative;
  transform: translate(70%, 0);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}
.about__images._anim-active {
  visibility: visible;
  opacity: 1;
  transform: translate(0, 0);
}
.about__images-arrow {
  position: absolute;
  left: 45%;
  bottom: 0;
}
.about__images-lines {
  position: absolute;
  bottom: 15%;
  left: -15%;
  z-index: -99;
}
.about__image img {
  max-width: 100%;
}
.about__image:last-child {
  margin-top: 60px;
}

@media (max-width: 1240px) {
  .about img {
    max-width: 100%;
  }
  .about__container {
    flex-direction: column;
    grid-row-gap: 15px;
  }
}
@media (max-width: 968px) {
  .about__container {
    text-align: center;
  }
  .about__container > img:first-child {
    width: 100px;
  }
  .about__how-logo {
    max-width: 100%;
  }
  .about__how-logo img {
    max-width: 100%;
  }
  .about__buttons {
    margin: 0 auto;
  }
  .about__images-lines {
    width: 70px;
    bottom: 25%;
  }
  .about__how {
    flex-direction: column;
  }
  .about__when {
    justify-content: center;
  }
  .about__location {
    justify-content: center;
  }
}